body {
  margin: 0;
  background: #fff;
  font-family: sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.heart {
  font-size: 90px;
  margin: 15px;
  cursor: pointer;
}

#content {
  text-align: center;
}

#content img {
  width: 320px;
  margin-top: 20px;
}

.text {
  font-size: 40px;
  margin-top: 20px;
}

/* สั่นแรง */
.shake {
  animation: shake 0.25s infinite;
}

/* สั่นเบา */
.shake-soft {
  animation: shakeSoft 0.4s infinite;
}

@keyframes shake {
  0% { transform: translate(3px, 3px); }
  50% { transform: translate(-3px, -3px); }
  100% { transform: translate(3px, -3px); }
}

@keyframes shakeSoft {
  0% { transform: translate(1px, 1px); }
  50% { transform: translate(-1px, -1px); }
  100% { transform: translate(1px, -1px); }
}